.post-language-selector {
    position: fixed;
    bottom: 1rem; /* 화면 하단에서 2rem 위로 이동 */
    left: 7rem; /* 왼쪽에서 2rem만큼 띄움 */
    display: flex; /* 버튼 정렬을 위한 flex 사용 */
    gap: 1rem; /* 버튼 간격 설정 */
}

.post-language-selector button {
    background: none;
    border: none;
    color: #5f3809;
    font-size: 1.2rem;
    cursor: pointer;
    transition: font-weight 0.2s ease, text-decoration 0.2s ease;
}

.post-language-selector button.active {
    font-weight: bold; /* 활성화된 버튼은 굵게 표시 */
    text-decoration: underline; /* 밑줄 표시 */
}

.post-language-selector button:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}