/*로그인 login.html관련 css*/

/* 로그인 메인 컨텐츠 */
.login-main {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef4e8; /* 연한 베이지 */
    padding: 1.5rem; /* 내부 여백 줄임 */
    border-radius: 10px; /* 모서리 둥근 정도 조정 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-signup-section {
    width: 100%;
    max-width: 350px; /* 최대 너비 줄임 */
    text-align: center;
}

.login-signup-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #7a5230; /* 진한 갈색 */
}

.left-section {
    flex: 1;
    font-size: 2.0rem;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 가로 방향 중앙 정렬 */
    justify-content: center; /* 세로 방향 중앙 정렬 */
    padding: 7rem; /* 상하좌우 여백 */
}

.login-left-section {
    width: 20%;
    font-size: 3.0rem; /* 로그인 화면에서 작은 글씨 */
    line-height: 1.3;
    text-align: left;
    margin-top: 1rem; /* 더 위로 이동 */
    margin-left: 3rem; /* 왼쪽으로 이동 */
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #7a5230;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.form-actions button {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #7a5230;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-actions button:hover {
    background-color: #5a3922;
}

.category-nav{
    margin-top: 2rem;
}

.category-nav ul {
    list-style: none; /* 점 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.category-nav ul li {
    margin: 0rem 0; /* 각 항목 간 간격 조정 */
    align-items: center;
}

.category-nav ul li img {
    width: 120px; /* 아이콘 크기 */
    height: 120px; /* 아이콘 크기 */
}

.category-nav ul li:hover img {
    transform: scale(1.2); /* 크기 확대 */
    transition: transform 0.3s ease; /* 부드러운 확대 효과 */
}

/* 소셜 로그인 버튼 */
.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.social-login button {
    width: 48%;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.naver-login {
    background-color: #03c75a;
}

.kakao-login {
    background-color: #fee500;
    color: #3c1e1e;
}